<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daichao.dao.product.DcProductConfigMapper">
  <resultMap id="BaseResultMap" type="com.daichao.bean.product.DcProductConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="deduction_rate" jdbcType="DECIMAL" property="deductionRate" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, channel_id, product_id, type, start_time, end_time, deduction_rate, update_id, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_product_config
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByChannelId" resultType="com.daichao.bean.product.DcProductConfig">
      select * from dc_product_config where channel_id = #{channelId,jdbcType=INTEGER}
      and  NOW() <![CDATA[ > ]]> start_time and NOW() <![CDATA[ < ]]> end_time
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dc_product_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.daichao.bean.product.DcProductConfig">
    insert into dc_product_config (id, channel_id, product_id, 
      type, start_time, end_time, 
      deduction_rate, update_id, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{deductionRate,jdbcType=DECIMAL}, #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.daichao.bean.product.DcProductConfig" useGeneratedKeys="true" keyProperty="id">
    insert into dc_product_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="deductionRate != null">
        deduction_rate,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deductionRate != null">
        #{deductionRate,jdbcType=DECIMAL},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.daichao.bean.product.DcProductConfig">
    update dc_product_config
    <set>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deductionRate != null">
        deduction_rate = #{deductionRate,jdbcType=DECIMAL},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daichao.bean.product.DcProductConfig">
    update dc_product_config
    set channel_id = #{channelId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      deduction_rate = #{deductionRate,jdbcType=DECIMAL},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryByChannleId" parameterType="java.lang.Integer" resultType="com.daichao.bean.product.DcProductConfig">
     select * from dc_product_config where channel_id=#{channelId}
  </select>
</mapper>