<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daichao.dao.product.DcThirdProductHistoryMapper">
  <resultMap id="BaseResultMap" type="com.daichao.bean.product.DcThirdProductHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="third_product_id" jdbcType="INTEGER" property="thirdProductId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, third_product_id, user_id, phone, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_third_product_history
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByUserIdAndProductId" resultType="java.lang.Integer">
      select count(*) from dc_third_product_history where third_product_id = #{productId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER} and DATE_FORMAT(create_time,'%Y-%m-%D')=DATE_FORMAT(CURDATE(),'%Y-%m-%D')
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dc_third_product_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.daichao.bean.product.DcThirdProductHistory">
    insert into dc_third_product_history (id, third_product_id, user_id, 
      phone, create_time)
    values (#{id,jdbcType=INTEGER}, #{thirdProductId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{phone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.daichao.bean.product.DcThirdProductHistory">
    insert into dc_third_product_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="thirdProductId != null">
        third_product_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="thirdProductId != null">
        #{thirdProductId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.daichao.bean.product.DcThirdProductHistory">
    update dc_third_product_history
    <set>
      <if test="thirdProductId != null">
        third_product_id = #{thirdProductId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daichao.bean.product.DcThirdProductHistory">
    update dc_third_product_history
    set third_product_id = #{thirdProductId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryProductHistoryByProductIdAndStatus" parameterType="map" resultType="com.daichao.bean.product.DcThirdProductHistory">
     select a.*,b.regist_time as registTime,b.regist_channel as registChannel,b.first_login_time as firstLoginTime,b.first_login_channel as firstLoginChannel from dc_third_product_history a inner join dc_user b on a.user_id=b.id where 1=1
     <if test="productId!=null">
        and third_product_id=#{productId}
     </if>
     <if test="startTime!=null">
        and create_time >=#{startTime}
     </if>
     <if test="endTime!=null">
        and create_time &lt;=#{endTime}
     </if>
     order by create_time desc
  </select>
  <select id="selectCountByUserIdAndDay" parameterType="map" resultType="com.daichao.bean.product.DcThirdProductHistory">
     select a.user_id,a.third_product_id,b.price_type as priceType,b.price_model priceModel,b.price,b.uv6_privce as uv6Price from dc_third_product_history a,dc_third_product b where b.id=a.third_product_id and  a.create_time>=#{startTime} and a.create_time &lt;=#{endTime} and a.user_id in(select id from dc_user where binary regist_channel=#{code}) 
  </select>
</mapper>