<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daichao.dao.product.DcThirdProductStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.daichao.bean.product.DcThirdProductStatistics">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="third_product_id" jdbcType="INTEGER" property="thirdProductId" />
    <result column="daily_clicks_count" jdbcType="INTEGER" property="dailyClicksCount" />
    <result column="distinct_clicks_count" jdbcType="INTEGER" property="distinctClicksCount" />
    <result column="cpa_count" jdbcType="INTEGER" property="cpaCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, third_product_id, daily_clicks_count, distinct_clicks_count, cpa_count, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_third_product_statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectRecordToday" resultType="com.daichao.bean.product.DcThirdProductStatistics">
    select * from dc_third_product_statistics where third_product_id = #{productId,jdbcType=INTEGER}
    and DATE_FORMAT(create_time,'%Y-%m-%D')=DATE_FORMAT(CURDATE(),'%Y-%m-%D')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dc_third_product_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.daichao.bean.product.DcThirdProductStatistics">
    insert into dc_third_product_statistics (id, third_product_id, daily_clicks_count, 
      distinct_clicks_count, cpa_count, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{thirdProductId,jdbcType=INTEGER}, #{dailyClicksCount,jdbcType=INTEGER}, 
      #{distinctClicksCount,jdbcType=INTEGER}, #{cpaCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.daichao.bean.product.DcThirdProductStatistics">
    insert into dc_third_product_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="thirdProductId != null">
        third_product_id,
      </if>
      <if test="dailyClicksCount != null">
        daily_clicks_count,
      </if>
      <if test="distinctClicksCount != null">
        distinct_clicks_count,
      </if>
      <if test="cpaCount != null">
        cpa_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="thirdProductId != null">
        #{thirdProductId,jdbcType=INTEGER},
      </if>
      <if test="dailyClicksCount != null">
        #{dailyClicksCount,jdbcType=INTEGER},
      </if>
      <if test="distinctClicksCount != null">
        #{distinctClicksCount,jdbcType=INTEGER},
      </if>
      <if test="cpaCount != null">
        #{cpaCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.daichao.bean.product.DcThirdProductStatistics">
    update dc_third_product_statistics
    <set>
      <if test="thirdProductId != null">
        third_product_id = #{thirdProductId,jdbcType=INTEGER},
      </if>
      <if test="dailyClicksCount != null">
        daily_clicks_count = #{dailyClicksCount,jdbcType=INTEGER},
      </if>
      <if test="distinctClicksCount != null">
        distinct_clicks_count = #{distinctClicksCount,jdbcType=INTEGER},
      </if>
      <if test="cpaCount != null">
        cpa_count = #{cpaCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daichao.bean.product.DcThirdProductStatistics">
    update dc_third_product_statistics
    set third_product_id = #{thirdProductId,jdbcType=INTEGER},
      daily_clicks_count = #{dailyClicksCount,jdbcType=INTEGER},
      distinct_clicks_count = #{distinctClicksCount,jdbcType=INTEGER},
      cpa_count = #{cpaCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryProductStatisticsList" parameterType="map" resultType="com.daichao.bean.product.DcThirdProductStatistics">
     select a.*,b.name as productName,b.price_type as priceType,b.price as productPrice from dc_third_product_statistics a left join dc_third_product b on a.third_product_id=b.id where 1=1
     <if test="productId!=null">
        and b.id=#{productId}
     </if>
     <if test="name!=null">
        and binary b.name like concat('%', #{name},'%')
     </if>
     <if test="startTime!=null">
        and a.create_time >=#{startTime}
     </if>
     <if test="endTime!=null">
        and a.create_time &lt;=#{endTime}
     </if>
     order by 
     <if test="sortValue!=null">
       ${sortValue}
     </if>
     a.create_time desc
  </select>
</mapper>